body {
    width: 50vw;
    height: 50vh;
}

#cartao {
    background-color: blue;
    width: 12vw;
    height: 23vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

section {
    background-color: rgb(red, green, blue);
}

img {
    width: 9vw;
    background-color: blue;

    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}